PG_PROJECT_DATA_HOST=postgres
PG_PROJECT_DATA_PORT=5432
PG_PROJECT_DATA_DATABASE=nebus-test-task-bd
PG_PROJECT_DATA_USERNAME=postgres
PG_PROJECT_DATA_PASSWORD=postgres

RABBIT_HOST=rabbitmq
RABBIT_PORT_SERVER=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest

# Статический ключ, обязателен в заголовке X-API-Key для всех эндпоинтов API
API_KEY=nebus-test_task_123

APPLICATION_NAME=NEBUS_TEST_TASK
LOG_LEVEL=INFO

OUTBOX_RELAY_BATCH_SIZE=20
OUTBOX_RELAY_POLL_INTERVAL_SECONDS=2.0
PAYMENT_PROCESSING_MIN_SECONDS=2.0
PAYMENT_PROCESSING_MAX_SECONDS=5.0
PAYMENT_SUCCESS_RATE=0.9
MESSAGE_MAX_ATTEMPTS=3
MESSAGE_RETRY_BASE_DELAY_SECONDS=5.0
WEBHOOK_MAX_ATTEMPTS=3
WEBHOOK_RETRY_BASE_DELAY_SECONDS=1.0
WEBHOOK_TIMEOUT_SECONDS=5.0
